
<div class="simple-bar-chart">
    <div class="item" style="--clr: #5EB344; --val: {{ count5G }}">
        <div class="label">5G</div>
        <div class="value">{{ count5G }}</div>
    </div>

    <div class="item" style="--clr: #FCB72A; --val: {{ count4G }}">
        <div class="label">4G</div>
        <div class="value">{{ count4G }}</div>
    </div>

    <div class="item" style="--clr: #F8821A; --val: {{ count3G }}">
        <div class="label">3G</div>
        <div class="value">{{ count3G }}</div>
    </div>

    <div class="item" style="--clr: #E0393E; --val: {{ count2G }}">
        <div class="label">2G</div>
        <div class="value">{{ count2G }}</div>
    </div>
</div>